
html {
    display: table;
    margin: auto;
}

body {
    background-image: url('background.png'); 
    opacity: 0.8;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    vertical-align: middle;
    font-family: monospace;
}


h1 {
    margin-top: 35px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 0.4em;
    font-size: 30px;

}

h2 {
    text-align: center;  
    font-weight: 300;
	color:#4E443C;
	font-variant: small-caps; 
    letter-spacing: 0.2em;
    font-size: 20px;
}

.bodyContainer {
    display: inline-block;
    margin: auto;
    display: table;
    
    
    
}

h4 {
    font-size: 16px;
    letter-spacing: 0.2em;
    font-weight: 400;
}

.levels {
    background-color: darkgrey;
    border: none;
    color: white;
    padding: 20px 30px;
    text-align: center;
    letter-spacing: 0.2em;
    font-weight: 400;
    display: -webkit-box;
    font-size: 16px;
    margin: 50px;
    margin-left: 100px;
    border-radius: 6px;
    width: 130px;
    font-family: monospace;
	cursor:pointer;
}

.boardContainer {
    text-align: center;
}

.cell {
  width: 25px;
  height: 25px;
  text-align: center;
  font-size: 1.1em;
  font-weight: 700;
  background-color: grey;
  color: grey;
  
}

table, th {
  border: 1px solid black;
  padding: 3px;
  
}

td {
    padding: 2px;
}

.startAgain {
	background-color: lightsalmon;
	border-radius:4px;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family: monospace;
	font-size:15px;
    letter-spacing: 0.2em;
    font-weight: 400;
	padding:6px 15px;
    margin-left: 0px;
    margin: 22px; 
    -webkit-margin-before: 0.4em;
    -webkit-margin-after: 2em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;   
}

.marked {
    background-color: white;
}

