body {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2.5px;
}

header {
   height: 100px; 
   display: flex;
    justify-content: center;
    padding-top: 30px;
}

h1 {
    align-self: center;
    font-size: 4em;
    letter-spacing: 10px;
    font-weight: 400
}

.tableAndAddBookContainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: flex-start;
    padding-top: 60px; 
}


.newBookContainer {
    display: flex;
    flex-direction: column; 
    justify-content: center;
    align-items: center;
    border: 2px solid black;
    width: 200px;
    padding: 20px;
}

.newBookContainer > h3 {
    margin-bottom: 30px;
    margin-top: 5px;
}

#newBookPrice, #newBookName, .addBook {
    margin: 10px;
}

.addBook {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 50px;
    font-size: 1em;
    font-weight: 700; 
}

.bookDetailsContainer {
    height: 250px;
    width: 700px;
    top: 20%;
    left: 20%;
    position: absolute;
    background-color: white;
    border: 1px solid black;
    visibility: hidden;
}

.bookDetailsMainContainer {   
    display: flex; 
    justify-content: space-around;
    align-items: stretch;
    padding: 30px;
    flex-direction:row;
    
}

.close {
    display: absolute;
}


.descContainer {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: space-between;
    height: 50%;
}

.like, .dislike {
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 3px;
    font-size: 1em;
    font-weight: 500;
}

.like {
    color: green;
}

.dislike {
    color: red;
}

table {
   width: 650px;
   height: 180px; 
   border-collapse: collapse
}

table, th, td {
    border: 1px solid black;
    padding: 6px;    
}

th > button {
    background: transparent;
    border: none;
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2.5px;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
}

td > button {
    /*background: transparent;*/
    /*border: none;*/
    font-family: 'Open Sans Condensed', sans-serif;
    letter-spacing: 2px;
    /*font-size: 1em;*/
    font-weight: 700;
    /*margin-left: 8px;*/
    
}

.buttonsInRowContainer {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    align-items: center;
}
    
.buttonInRow {
    font-family: 'Open Sans Condensed', sans-serif;
    width: 50px;
    font-size: 1em;
    font-weight: 550; 
}

.button1 {
    background-color: aquamarine;
}

.button2 {
    background-color: greenyellow;
}
.button3 {
    background-color: lightcoral;
}